.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #6c757d;
}

.custom-margin {
  margin-left: 10px !important;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  font-size: large;
}

span {
  font-weight: 500;
  color: #000000;
  font-size: large;
}
