.custom-border {
  border-bottom: var(--bs-border-width) var(--bs-border-style) #f0f1f1 !important;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.detail {
  font-size: 15px;
  font-weight: 400;
}
